/* = Variables
/*------------------------*/

$red : #ef4036;

/* = icons
/*------------------------*/

$icons-sprite-dimensions: true;
$icons-spacing: 5px;
@import "icons/*.png";
@include all-icons-sprites;

.icons-sprite {
  display: inline-block;
}

.icons-Conference,
.icons-Conference:hover {
  border-bottom: none;
}

/* = Containers
/*------------------------*/

.main {
  min-height: 100%;
  position: relative;
}

/* = Styles
/*------------------------*/

a {
  border-bottom: 1px solid #bbbdbe;
  &:hover {
    border-bottom: 1px solid #a8a9aa;
  }
}
h1 {
  //font-size: 22px;
  @include font-size(22px);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  @include font-size(36px);
}
h3 {
  color:$red;
}
h2,
h3 {
  font-weight: bold;
}

hr {
  display: inline-block;
  background-color:#9b9b9b;
  border-width:0;
  width: 60px;
  color:#9b9b9b;
  height:2px;
  line-height:0;
  page-break-after:always;
  text-align:center;
}
blockquote {
  padding-top: 0;
  border-left-width: 4px;
  border-color: $red;
  color:#282828;
}
.bubble {
  position: relative;
  margin: 0 0 18px;
  padding: 20px;
  border: 1px solid $red;
  @include font-size(14px);
  &:after {
    content: "";
    position: absolute;
    bottom:-18px;
    left: 30px;
    @extend .icons-data_angle;
  }
}
.comment {
  font-style: italic;
}
b {
  font-weight: bold;
}
ul {
  padding-left: 30px;
  li {
    position: relative;
    @include font-size(14px);
    line-height: 22px;
    padding-bottom: 12px;
    &:before {
      content: "";
      position: absolute;
    }
  }
}
.gray-bg {
  background: #f4f4f4;
}
.center {
  text-align: center;
}
.row.no-fl .columns,
.row.no-fl .column {
  float: none;
}

.columns-block {
  line-height: 0;
  font-size: 0;
  position: relative;
}

.columns-block > div,
.columns-block-f > div,
.columns-block > .col {
  font: 14px 'Noto Sans';
  display: inline-block;
  vertical-align: top;
}

.columns-block-f > div {
  float: left;
}

.columns-block.five > div,
.columns-block-f.five > div {
  width: 20%;
}

.columns-block.four > div,
.columns-block-f.four > div {
  width: 25%;
}

.columns-block.three > div,
.columns-block-f.three > div {
  width: 33.3%;
}

.columns-block.two > div,
.columns-block-f.two > div {
  width: 50%;
}

input,
button {
  height: 25px;
  border: 0;
  outline: 0;
}
button {
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  padding: 0;
}
input {
  padding: .4em;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.btn-row>.btn {
  font-size: 18px;
  line-height: 50px;
  padding: 0 40px;
  text-transform: uppercase;
  float: none;
  background: $red;
  &:hover {
    background: #fc4338;
  }
  &:active {
    opacity: 1;
    background: #d14b43;
  }
  a {
    border-bottom-color: #d14b43;
    padding: 0 40px;
  }
}
/* = Header
/*------------------------*/

.main > header {
  background: #ebeef1;
  height: 60px;
  .logo {
    height: 60px;
    position: relative;
    .icons-Conference {
      position: relative;
      top: 15px;
      right: 30px;
      float: right;
    }
  }
  nav {
    font-size: 16px;
    .columns {
      line-height: 60px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  @media only screen and (max-width: 767px) {
    height: auto;
    padding-bottom: 20px;
    .logo {
      text-align: center;
      .icons-Conference {
        right: 0;
        float: none;
      }
    }
    nav {
      .columns {
        text-align: center;
        line-height: 40px;
      }
      ul {
        padding-left: 0;
      }
    }
  }
}

/* = Content
/*------------------------*/

.main > .content {
  .gallery-block {
    color: #ffffff;
    font-style: italic;
    padding: 25px 0 0px;
    background: #363636;
    text-align: center;
    a {
      color: #ffffff;
    }
    p {
      margin-bottom: 0px;
    }
    .tel,
    .mail {
      font-style: normal;
      font-weight: bold;
    }
    .logo-text {
      font-size: 22px;
    }
    .logo {
      @extend .icons-logo;
    }
    .columns {
      text-align: center;
      &:first-child {
        text-align: right;
      }
      &:last-child {
        text-align: left;
      }
    }
    .inner {
      padding-top: 15px;
    }
    >.row>.columns:first-child .inner {
      padding-right: 80px;
    }
    >.row>.columns:last-child .inner {
      padding-left: 80px;
    }
    hr {
      min-width: 70px;
      margin-bottom: 5px;
      width:10%;
    }
    .swiper-slide img {
      width: 100%;
    }
    .swiper-slide,
    .swiper-wrapper {
      font-size: 0;
      line-height: 0;
    }
    .arrows {
      position: relative;
      &.narrow {
        .arrow-left {
          left: 0;
          top: 20px;
        }
        .arrow-right {
          right: 0;
          top: 20px;
        }
      }
    }
    .arrows-wrapper {
      height: 40px;
      position: absolute;
      left:0;
      top: 50%;
    }
    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      background: #ffffff;
      width: 40px;
      height: 40px;
      z-index: 2;
      cursor: pointer;
      text-align: center;
      &:after {
        position: relative;
        top: 8px;
        content: "";
      }
    }
    .arrow-left {
      left:-40px;
      &:after {
        @extend .icons-gallery_left;
      }
    }
    .arrow-right {
      right:-40px;
      &:after {
        @extend .icons-gallery_right;
      }
    }
    .device-main {
      margin-top: 15px;
      footer {
        position: relative;
        font:italic 16px 'Noto Sans';
        .social-block {
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: -40px;
          max-width: 120px;
          max-height:40px;
          right: 0;
          text-align: center;
        }
        .icons-wrapper {
          display: inline-block;
          position: relative;
          border-bottom: none;
          margin: 0;
          width: 40px;
          height: 40px;
          background: #ebeef1;
          cursor: pointer;
          >div {
            position: relative;
            top: 12px;
        }
        &:hover {
            background:$red;
            div.icons-vk {
              @extend .vk_hover;
            }
            div.icons-facebook {
              @extend .facebook_hover;
            }
            div.icons-twitter {
              @extend .twitter_hover;
            }
          }
          &:after {
            content:"";
            position: absolute;
            bottom: -5px;
            left: 6px;
            @extend .icons-socialangle;
          }
        }
        .wrapper {
          position: absolute;
          padding: 25px 40px;
          left: 0;
          bottom: 0;
          background: #363636;
          .columns:first-child {
            position: relative;
          }
          .columns:first-child:after {
            content:"";
            position: absolute;
            right: 0;
            top: 0px;
            width: 1px;
            height: 100%;
            background: #9b9b9b;
          }
          .columns:last-child {
            padding-left: 10px;
          }
        }
        .upper-text,
        .lower-text {
          font-weight: bold;
          font-style: normal;
          text-align: left;
        }
        .upper-text {
          color:$red;
          @include font-size(36px);
          line-height: 36px;
          margin-bottom: 15px;
        }
        .lower-text {
          @include font-size(24px);
          line-height: 24px;
        }
        @media only screen and (max-width: 767px) {
          font:italic 14px 'Noto Sans';
          .wrapper {
            position: relative;
            padding: 15px 20px;
            z-index: 2;
            .columns:first-child:after {
              width: 0px;
            }
            .columns:last-child {
              padding-left: 0px;
            }
          }
          .upper-text {
            @include font-size(20px);
            line-height: 20px;
            margin-bottom: 5px;
          }
          .lower-text {
            @include font-size(18px);
            line-height: 18px;
            margin-bottom: 10px;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      padding-top: 15px;
      .logo {
        margin-top: 15px;
      }
      .inner p {
        text-align: center;
      }
      >.row>.columns:first-child .inner,
      >.row>.columns:last-child .inner {
        padding-left: 0;
        padding-right: 0;
      }
      .arrows-wrapper {
        width: 100% !important;
      }
      .arrow-left {
        left: 0;
      }
      .arrow-right {
        right: 0;
      }
    }
  }
  .data-block {
    text-align: center;
    margin-top: 20px;
    h2 {
      @include font-size(36px);
      margin-bottom: 0;
    }
    h3,
    p {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    p {
      display: inline-block;
      width: 50%;
      font-style: italic;
    }
    hr {
      height: 4px;
      background: #e0e2e4;
      margin-bottom: 5px;
    }
    @media only screen and (max-width: 767px) {
      p {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }
  .seminar-block {
    margin-top: 40px;
    ul {
      li {
        font-weight: bold;
        @include font-size(16px);
        line-height: 25px;
        padding-bottom: 12px;
        &:before {
          content: "";
          position: absolute;
          top: 13px;
          left: -30px;
          margin-top: -1px;
          height: 2px;
          width: 20px;
          background: $red;
        }
      }
      .comment {
        @include font-size(14px);
        font-weight: normal;
      }
    }
    p {
      margin-bottom: 0;
      line-height: 22px;
    }
    h3 {
      @include font-size(16px);
      padding-left: 10px;
      padding-top: 15px;
      text-transform: uppercase;
    }
    .comment {
      @include font-size(12px);
      line-height: 14px;
    }
    ul.star{
      margin-top: 20px;
      padding-left: 20px;
      li {
        line-height: 20px;
        &:before {
          left: -15px;
          top: 1px;
          @extend .icons-star;
        }
      }
      .comment {
        @include font-size(12px);
        margin-bottom: 10px;
      }
    }
  }
  .who-block {
    margin-top: 20px;
    .columns.eight {
      margin-bottom: 20px;
    }
    ul.tick {
      li {
        &:before {
          left: -30px;
          top: 5px;
          @extend .icons-tick;
        }
      }
    }
    ul.attention {
      li {
        font-weight: bold;
        &:before {
          left: -30px;
          top: 0;
          @extend .icons-attention;
        }
      }
      a {
        color: #363636;
        border-bottom: 1px solid $red;
      }
    }
  }
  .speakers-block {
    position: relative;
    padding: 20px 0 30px;
    h2 {
      text-align: center;
      span {
        color: $red;
      }
    }
    .hr-container {
      text-align: center;
    }
    hr {
      height: 3px;
      background: #eaeaea;
      border-color: #eaeaea;
      margin-top: 0;
    }
    .title {
      color: $red;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      @include font-size(18px);
    }
    ul.wrapper {
//      margin-top: 40px;
      padding: 0;
      height: auto;
      li {
        text-align: center;
        @include fancytiles(3,2,1, $min-device-width, '600px', $row-max-width);
        padding: 0;
        padding-bottom: 25px;
      }
    }
    .navigation {
      text-align: center;
      height: 20px;
      vertical-align: top;
      font-size: 0;
      line-height: 0;
      .pagination {
        display: inline-block;
        height: 20px;
        vertical-align: top;
      }
      .swiper-pagination-switch {
        position: relative;
        top: 2px;
        @extend .icons-reporter_dot;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        cursor: pointer;
        &:first-child.swiper-active-switch {
          margin-left: -2px;
        }
        &.swiper-active-switch {
          position: relative;
          top: 4px;
          margin-left: 9px;
          @extend .icons-reporter_dot_act;
        }
      }
      .arrow-left {
        margin-right: 12px;
        @extend .icons-reporter_left;
        cursor: pointer;
      }
      .arrow-right {
        margin-left: 12px;
        @extend .icons-reporter_right;
        cursor: pointer;
      }
    }
  }
  .conference {
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center;
    h2 {
      text-align: center;
      padding-bottom: 20px;
    }
    .btn-row {
      margin-top: 50px;
      text-align: center;
    }
    .columns.four {
      text-transform: uppercase;
      @include font-size(18px);
      font-weight: bold;
      text-align: center;
      &:first-child a:before {
        content: "";
        position: absolute;
        top: 2px;
        left: -70px;
        @extend .icons-about;
      }
      &:nth-child(2) a:before {
        content: "";
        position: absolute;
        top: 2px;
        left: -45px;
        @extend .icons-schedule;
      }
      &:nth-child(3) span:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -50px;
        @extend .icons-results;
      }
      &:last-child {
        text-align: left;
      }
      .a-wrapper {
        height: 40px;
      }
      a {
        border-color: $red;
        color: #282828;
        line-height: 40px;
      }
      span {
        line-height: 20px;
      }
      .a-wrapper,
      span {
        position: relative;
        display: inline-block;
        margin-left: 40px;
        color: #282828;
      }
    }
    @media only screen and (max-width: 767px) {
      .columns.four {
        margin-top: 20px;
        &:last-child {
          text-align: center;
        }
      }
    }
  }
  .partners-block {
    h2 {
      padding-bottom: 40px;
    }
    padding-top: 20px;
    .columns-block {
      padding-bottom: 20px;
      > div {
        margin-right: 30px;
        margin-bottom: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .columns-block.partners {
      > div {
        margin-right: 0;
        @include fancytiles(6,5,3, '400px', '800px', $row-max-width);
        float: none;
        text-align: center;
      }
    }
    .title {
      padding-bottom: 25px;
    }
  }
  .uic-block {
    padding: 35px 0;
    h2 {
      color: $red;
      font-size: 56px;
      line-height: 60px;
      padding: 0;
      margin: 0;
    }
    h3 {
      @include font-size(26px);
      text-transform: uppercase;
      color: #363636;
    }
    hr {
      height: 4px;
      background: #e0e2e4;
      margin: 18px 0 16px;
    }
    blockquote {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      margin-left: 20px;
    }
    .lower-block {
      margin-top: 20px;
    }
    ul.years {
      padding: 0 10px 20px 15px;
      border-bottom: 2px solid #363636;
      display: inline-block;
      li {
        font-weight: bold;
        border: 1px solid $red;
        padding: 0;
        margin-right: 13px;
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        display: inline-block;
        color: #383838;
        border-bottom: none;
        padding: .3em;
        &:hover {
          background: $red;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 8px;
          @extend .icons-year_angle;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: -27px;
          left: 8px;
          width: 10px;
          height: 10px;
          @include border-radius(10px);
          background: $red;
        }
      }
    }
    .comment {
      padding-top: 15px;
      font-weight: bold;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    dl {
      dd {
        font-weight: bold;
        @include font-size(26px);
        text-align: center;
        margin-bottom: 20px;
      }
      dt {
        position: relative;
        text-align: center;
        font: italic normal 14px/20px 'Arial';
        &:before,
        &:after {
          position: absolute;
          top: 50%;
          margin-top: -10px;
          font: normal normal 60px/23px 'Noto Sans';
          color: $red;
        }
        &:before {
          content: "«";
          left: -60px;
        }
        &:after {
          content: "»";
          right: -60px;
        }
      }
    }
    .numerals {
      margin-top: 60px;
      margin-bottom: 50px;
      .columns.three {
        border: 1px solid $red;
        text-align: center;
        max-width:180px;
      }
      .num {
        position: relative;
        top: -4px;
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        height: 1px;
        line-height: 0;
        padding: 0 10px;
        background: #ffffff;
        z-index: 2;
      }
      .snip {
        font-size: 16px;
        font-weight: bold;
      }
    }
    footer {
      .col {
        height: 33px;
        line-height: 33px;
      }
      >span.col {
        padding-left: 15px;
      }
      .nav {
        padding-left: 0px;
        margin-bottom: 0;
        li {
          padding-left: 20px;
          padding-bottom: 0;
        }
        li.active a {
          color: $red;
          border: none;
          cursor: default;
        }
        a {
          border-color: $red;
          color: #383838;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      .numerals {
        .columns.three {
          margin-bottom: 20px;
          max-width:100%;
        }
      }
      dl {
        dt {
          padding: 0 40px;
          &:after {
            right: 0;
          }
          &:before {
            left: 0;
          }
        }
      }
    }
  }
  .visitors {
    padding: 30px 0 20px;
    hr {
      height: 4px;
      background: #ffffff;
      margin-top: 0;
      margin-bottom: 50px;
    }
    ul {
      li {
        padding: 0;
        margin: 0;
        height: 95px;
        text-align: center;
        @include fancytiles(4,3,2, $min-device-width, '600px', $row-max-width);
      }
    }
  }
  .rss-block {
    padding: 20px 20px 40px;
    >.columns.six {
      background: #363636;
      position: relative;
      padding: 0 60px 0 70px;
      height: 60px;
      margin-bottom: 0;
      .col:first-child,
      .col:last-child {
        position: absolute;
        line-height: 0;
        font-size: 0;
        background: $red;
      }
      .col:first-child {
        top: 0;
        left: 0;
      }
      .col:last-child {
        top: 18px;
        right: 24px;
        width: 26px;
        height: 26px;
      }
      .col:nth-child(2) {
        position: relative;
        top: 18px;
      }
      &:first-child {
        input {
          width: 48.93617% !important;
          margin-left: 1.12766%;
        }
        input:first-child {
          margin-left: 0;
        }
      }
      &:last-child {
        input {
          width: 100% !important;
          margin-left: 0;
        }
      }
    }
  }
  .registration {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #363636;
    color: #ffffff;
    .title {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 20px;
    }
    p {
      line-height: 20px;
    }
    a {
      color:#fff;
      border-color: $red;
    }
    .border {
      position: relative;
      top: -9px;
      display: inline-block;
      font-weight: bold;
      border: 3px solid #ed1c24;
      padding: 0 15px;
      font-size: 16px;
      line-height: 35px;
      @include border-radius(4px);
    }
    @media only screen and (max-width: 767px) {
      .columns.four {
        margin-bottom: 25px;
      }
    }
  }
}

/* = Footer
/*------------------------*/

.main > footer {
  height: 60px;
  line-height: 60px;
}


